/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global styling */
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    padding: 0 0 20px 0;
    margin: 0;
}

/* Navbar styles */
#navbar {
    background: #fafafa;
    color: #5b1616;
    box-shadow: 5px 5px 10px 5px rgba(73, 0, 0, 0.184);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 250px;
    /* Adjusted for sidebar width */
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
}

/* Container styles */
.container {
    max-width: 90%;
    margin: auto;
    padding: 20px 40px 20px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(73, 0, 0, 0.184);
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
}

/* Button styles */
#update-button {
    margin: 0 10px;
    padding: 10px 20px;
    background: #490f0d;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #581412;
    margin-left: auto;
    cursor: pointer;
}

#update-button:active {
    background: #490f0d;
}

.slider-item{
    border: 2px solid rgb(241, 241, 241);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(168, 168, 168, 0.184);
}

#sliders-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.slider-item img{
    width: 200px;
    border-radius: 5px;
    margin: 10px 5px;
}

.slider-item button img{
    width: 25px;
}

.slider-item button{
    background: rgb(246, 246, 246);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: .2s;
}

.slider-item button:hover {
    background: rgba(119, 0, 0, 0.275);
}

/* Form label styles */
#sliders_form label {
    color: #581412;
    margin: 0 5px;
}

#sliders_form{
    margin: 50px 0;
}

/* Input and select styles */
#sliders_form input,
#sliders_form select {
    display: block;
    margin: 15px 0;
    background: transparent;
    border: 0;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 2px;
    padding: 6px;
    width: 100%;
    color: black;
    outline: none;
    font-size: 18px;
}

/* Focus styles for inputs and selects */
#sliders_form input:focus,
#sliders_form select:focus {
    background: rgb(243, 243, 243);
}

/* Sidebar header styles */
.sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #490f0d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* Sidebar menu styles */
.sidebar-menu {
    list-style: none;
    padding: 0;
    background: #490f0d;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: #490f0d;
}

.sidebar-menu li a:hover {
    background-color: #581717;
}

/* Main container styles */
#main-container {
    margin-left: 250px;
    /* Adjusted for sidebar width */
    padding: 20px;
}

/* Hamburger menu styles */
.hamburger-menu {
    cursor: pointer;
}

#addButton{
    background: #581412;
    color: white;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid brown;
    cursor: pointer;
    transition: .1s;
    display: none;
}

#addButton:hover{
    background: #490f0d;
}

#add-slider-button{
    text-decoration: none;
    color: #581412;
    background: rgb(237, 237, 237);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: .2s;
}

#add-slider-button:hover{
    color: white;
    background: #581412;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #5b1616;
    margin: 5px 0;
    transition: transform 0.3s;
}

/* Define styles for active state of bars (close icon) */
.bar.active:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.bar.active:nth-child(2) {
    opacity: 0;
}

.bar.active:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    left: -250px;
    /* Hidden by default */
    top: 0;
    bottom: 0;
    width: 250px;
    /* Adjust as needed */
    background-color: #490f0d;
    color: #fff;
    padding-top: 60px;
    transition: left 0.3s ease;
}

/* Show sidebar when active */
.sidebar.active {
    left: 0;
}

/* Sidebar logout button hover styles */
#sidebar-logout:hover {
    background: rgb(209, 0, 0);
}

/* Active tab styles */
.active-tab {
    background: #661414;
}


/* Drop area styles */
#dropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
}

.highlight {
    background-color: #f0f0f0;
}

#dropArea img {
    max-width: 100%;
    max-height: 100%;
}

/* Hide file input */
#fileInput {
    display: none;
}

/* Media query for collapsed sidebar on mobile and tablet devices */

@media only screen and (max-width: 799px) {
    
#sliders-data{
    grid-template-columns: repeat(1, 1fr);
}

}

@media only screen and (min-width: 800px) and (max-width: 999px) {
    
    #sliders-data{
        grid-template-columns: repeat(2, 1fr);
    }
    
    }

@media only screen and (max-width: 999px) {
    .sidebar {
        width: 250px;
    }

    #sliders_form input,
    #sliders_form select {
        font-size: 14px;
    }

    #sliders_form h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    #sliders_form h3 {
        font-size: 16px;
        margin: 20px 0;
    }

    #sliders_form button {
        padding: 5px 10px;
        font-size: 14px;
        margin: 3px;
    }

    #sliders_form p {
        font-size: 12px;
    }
}

/* Toast notification container styles */
#toastContainer {
    display: none;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #651515;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
}